[Desktop Entry]
Type=Application
Name=Vim
TryExec=vim
Exec=/usr/bin/termite -e "/usr/bin/vim %F"
Icon=gvim
Comment=Editor
NotShowIn=GNOME;KDE;XFCE;MATE;
StartupNotify=false
MimeType=text/plain;text/x-c;text/x-c++;text/x-csrc;text/x-makefile;text/english;
